flow.json
[{"id":"30a3b44b.33bc3c","type":"speech-synthesizer","z":"ac18e09b.a9765","name":"","x":916.9998626708984,"y":502.00006103515625,"wires":[["e68d654c.ad45a"]]},{"id":"41c031a2.748a88","type":"semantic-recognition","z":"ac18e09b.a9765","name":"","x":621.9998016357422,"y":508.00006103515625,"wires":[["30a3b44b.33bc3c"]]},{"id":"e68d654c.ad45a","type":"play-voice","z":"ac18e09b.a9765","name":"","speed":"","x":684.9998626708984,"y":436.0000305175781,"wires":[["21ad2395.75ac9c","c3660367.344e3"]]},{"id":"23ed1a67.ce7e96","type":"mqtt in","z":"ac18e09b.a9765","name":"","topic":"intent/freetalk/election","qos":"2","broker":"8cb19586.875378","x":119.83332824707031,"y":131,"wires":[["596aad43.403a84"]]},{"id":"477d3f23.de6da","type":"mqtt out","z":"ac18e09b.a9765","name":"","topic":"life_cycle/intent_handled","qos":"","retain":"","broker":"8cb19586.875378","x":894.8333282470703,"y":121,"wires":[]},{"id":"b082ff15.2d5e9","type":"mqtt in","z":"ac18e09b.a9765","name":"","topic":"freetalk123456/life_cycle/start","qos":"2","broker":"8cb19586.875378","x":181.83334350585938,"y":492.0000305175781,"wires":[["133a9577.44ff0b"]]},{"id":"133a9577.44ff0b","type":"function","z":"ac18e09b.a9765","name":"","func":"msg.paylaod = msg.payload.msg;\nreturn msg;","outputs":1,"noerr":0,"x":418.8333282470703,"y":497.0000915527344,"wires":[["41c031a2.748a88"]]},{"id":"5c922a08.956984","type":"mqtt in","z":"ac18e09b.a9765","name":"","topic":"freetalk123456/life_cycle/pause","qos":"2","broker":"8cb19586.875378","x":192.83334350585938,"y":205.00000762939453,"wires":[["5b2723e2.d96bfc"]]},{"id":"5b2723e2.d96bfc","type":"mqtt out","z":"ac18e09b.a9765","name":"","topic":"life_cycle/paused","qos":"","retain":"","broker":"8cb19586.875378","x":556.8333282470703,"y":204.33334350585938,"wires":[]},{"id":"b90cab8d.cc00a8","type":"mqtt in","z":"ac18e09b.a9765","name":"","topic":"freetalk123456/life_cycle/resume","qos":"2","broker":"8cb19586.875378","x":215.8333282470703,"y":316.99999237060547,"wires":[["21ad2395.75ac9c"]]},{"id":"21ad2395.75ac9c","type":"mqtt out","z":"ac18e09b.a9765","name":"","topic":"life_cycle/stopped","qos":"","retain":"","broker":"8cb19586.875378","x":540.6665802001953,"y":317.6666564941406,"wires":[]},{"id":"c456ef7b.c6f4d","type":"inject","z":"ac18e09b.a9765","name":"","topic":"","payload":"你叫什么名字","payloadType":"str","repeat":"","crontab":"","once":false,"x":277.8333435058594,"y":440.3333435058594,"wires":[[]]},{"id":"596aad43.403a84","type":"function","z":"ac18e09b.a9765","name":"","func":"var payload =JSON.parse(msg.payload);\npayload.appId=\"freetalk123456\";\nmsg.payload =payload;\nnode.warn('请求进入freetalk123456');\nreturn msg;","outputs":1,"noerr":0,"x":560.8663787841797,"y":121.05966186523438,"wires":[["477d3f23.de6da"]]},{"id":"c3660367.344e3","type":"debug","z":"ac18e09b.a9765","name":"","active":true,"console":"false","complete":"false","x":963.8721160888672,"y":294.11077880859375,"wires":[]},{"id":"b578abf0.2d83e8","type":"mqtt in","z":"ac18e09b.a9765","name":"","topic":"freetalk123456/life_cycle/half_lock_confirm","qos":"2","broker":"8cb19586.875378","x":283.95140075683594,"y":257.0243225097656,"wires":[[]]},{"id":"8cb19586.875378","type":"mqtt-broker","z":"ac18e09b.a9765","broker":"localhost","port":"1883","tls":null,"clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""}]